@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="do-something">Some Other Count: @otherCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


